@import '../base/*.scss';

.test-jpg {
  width: 300px;
  height: 300px;
  background-image: url(../../images/logo45.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
