$RT: 'Roboto-Thin';
$RR: 'Roboto-Regular';
$RM: 'Roboto-Medium';
$RL: 'Roboto-Light';
$RB: 'Roboto-Bold';
$RBL: 'Roboto-Black';

// @font-face {
//   font-family: $RT;
//   src: url("/fonts/Roboto-Thin.ttf") format("ttf");
// }

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
}

// @font-face {
//   font-family: $RM;
//   src: url("/fonts/Roboto-Medium.ttf") format("ttf");
// }

// @font-face {
//   font-family: $RL;
//   src: url("/fonts/Roboto-Light.ttf") format("ttf");
// }

// @font-face {
//   font-family: $RB;
//   src: url("/fonts/Roboto-Bold.ttf") format("ttf");
// }

// @font-face {
//   font-family: $RBL;
//   src: url("/fonts/Roboto-Black.ttf") format("ttf");
// }
