$desktop: 1024px;
$tablet: 720px;
$phone: 480px;
$small-phone: 321px;

@mixin tablet {
  @media screen and (max-width: tablet) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: phone) {
    @content;
  }
}

@mixin small-phone {
  @media screen and (max-width: small-phone) {
    @content;
  }
}
